
body{
  margin: auto;
}

#banner{
  width: 30%;
}

.principal{
  background-color: #ccc;
}

h1{
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;  
}

#missao {
  color: crimson;
}

.itens {
  font-style: italic;
}

.beneficios{
  background-color: #fff;
}

h2{
  text-align: center;
}


